<li class="burger list-group-item">

	{{id}}. {{burger}}
	{{#if devoured}}
	<button onclick=location=URL class="eatTheBurger" data-id="{{id}}" data-neweat="{{devoured}}">
		EAT ME!
	</button>
	{{/if}}
</li>